$font__body: "Lora", serif;
$font__heading: "Playfair Display", serif;
$font__figcaption: $font__body;

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__site-comment: 18px;

$font__size_base: 19px;
$font__size-ratio: 1.1;

$font__size-xxs: 1em / (1.5 * $font__size-ratio);
$font__size-xs: 1em / (1.25 * $font__size-ratio);
$font__size-sm: 1em / (1 * $font__size-ratio);
$font__size-md: 1em * (1.25 * $font__size-ratio);
$font__size-mdlrg: 1em * (1.5 * $font__size-ratio);
$font__size-lg: 1em * (1.75 * $font__size-ratio);
$font__size-xl: 1em * (2 * $font__size-ratio);
$font__size-xxl: 1em * (2.5 * $font__size-ratio);
$font__size-xxxl: 1em * (5 * $font__size-ratio);

$font__line-height-body: 1.75;
$font__line-height-heading: 1.35;
$font__line-height-pre: 1.6;

$font__weight-body: 400;
$font__weight-heading: 400;

$black: #232323;
$white: #fff;
$gray: #869092;

$color__text-heading: #232323;
$color__text-main: #232323;

$color__background-button: $color__text-main;
$color__background-button-hover: #444;
$color--background-body: #fff;

$color--has-background-color-fallback: #f5f5f5;

// Content variables
$content__width: 720px;
$content__width--wide: 920px;
$content__padding: 20px;
$content__width--less-padding: $content__width - ($content__padding * 2);
$content__width--wide--less-padding: $content__width--wide - ($content__padding * 2);
$content__media-query: $content__width - 1;
$content__media-query--wide: $content__width--wide - 1;
$content__align--leftright-margin: $content__width / 2 - $content__padding;
$content__align--mobile-media-query--min: 499px;
$content__align--mobile-media-query--max: $content__align--mobile-media-query--min - 1;
$content__align--width: 300px;
$content__spacer: 30px;
$content__spacer--mobile: 20px;

$block__quote--border-width: 4px;
$block__quote--cite-font: $font__figcaption;

// Editor variables
$font__size-editor--small: 16px;
$font__size-editor--medium: 19px;
$font__size-editor--large: 24px;
$font__size-editor--huge: 30px;

// Old
$font-size__meta: 17px;
$font-size__meta-mobile: 15px;

$accent: #218799;
$lightgray: #f0f0f0;
$gray: rgba(0, 0, 0, 0.44);
$gray--hover: rgba(0, 0, 0, 0.66);

$white: #fff;
$color--error: #e85c41;
$color--success: #2cb994;

$color--background-body: #fff;
$color--background-screen: #f1f1f1;
$color--background-hr: #ccc;
$color--background-button: #e6e6e6;
$color--background-pre: #f1f1f1;
$color--background-ins: #fff9c0;
$color--background-input-focus: #fff;

$color--background-lightbox: #fff;
$color--background-lightbox-dark: #1c1c21;
$color--background-lightbox-button: $black;
$color--background-lightbox-button-dark: #dfdfe2;

$color--text-screen: #21759b;
$color--text-input: $black;
$color--text-input-focus: $black;
$color--text-input-placeholder: #bbb;
$color--text-footer-a: #bbb;
$color--link: #4169e1;
$color--link-visited: #800080;
$color--link-hover: #333;

$color--border-button: #ccc #ccc #888;
$color--border-button-hover: #ccc #888 #aaa;
$color--border-button-focus: #aaa #888 #888;
$color--border-input: #e6e6e6;
$color--border-input-hover: #d6d6d6;
$color--border-input-focus: #c6c6c6;
$color--border-abbr: #e8e8e8;
$color--border-table: #ccc;
$color--border-footer: rgba(0, 0, 0, 0.075);

$color--outline-button: #959595;

@mixin blockMobileDisplay {
	margin-left: $content__padding;
	margin-right: $content__padding;
	max-width: $content__width--less-padding;

	@media screen and (min-width: $content__media-query) {
		margin-left: auto;
		margin-right: auto;
	}
}

@mixin blockWideDisplay {
	margin-left: $content__padding;
	margin-right: $content__padding;
	max-width: $content__width--wide--less-padding;

	@media screen and (min-width: $content__media-query--wide) {
		margin-left: auto;
		margin-right: auto;
	}
}
