a {
	color: inherit;
	text-decoration: none;

	&:hover,
	&:active {
		outline: 0;
	}
}

.entry-content a {
	box-shadow: inset 0 -1px 0 currentColor;
	text-decoration: none;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out;

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:focus {
		box-shadow: inset 0 0 0 currentColor, 0 3px 0 currentColor;
	}
}

@mixin underline-on-hover {
	box-shadow: none !important;
	position: relative;
	transition: 200ms color cubic-bezier(0.33, 0, 0.2, 1);

	&::before {
		@media only screen and (min-width: 500px) {
			background-color: currentColor;
			bottom: -1px;
			color: currentColor;
			content: "";
			height: 12px;
			left: 0;
			opacity: 0.095;
			position: absolute;
			transform-origin: bottom right;
			transform: scaleX(0);
			transition: transform 0.3s cubic-bezier(0.33, 0, 0.2, 1) 0;
			width: 100%;
		}
	}

	@include hover {
		&:hover {
			&::before {
				transform-origin: bottom left;
				transform: scaleX(1);
				transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0;
			}
		}
	}
}
