.hamburger {
	padding: 15px;
	display: inline-block;
	cursor: pointer;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	top: -5px;
	right: -15px;
	position: relative;
	overflow: visible;
	transition: 500ms opacity cubic-bezier(0.3, -0.55, 0.1, 1.1), 0ms visibility ease 500ms;

	@media (max-width: 1024px) {
		.nav-open & {
			opacity: 0;

			&:hover {
				opacity: 0;
			}
		}
	}

	&:hover {
		opacity: 0.4 !important;
	}


	.nav-finished .site-header--right & {

		@media (max-width: 1024px) {
			display: none;
		}
	}

	.sidebar & {
		top: 25px;
		right: 16px;
	}
}

.hamburger-box {
	width: 32px;
	height: 22px;
	display: inline-block;
	position: relative;
}

.hamburger-inner {
	display: block;
	top: 50%;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: 32px;
	height: 2px;
	right: 0;
	background-color: $black;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.25s;
	transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block;
}

.hamburger-inner::before {
	top: -8px;
	width: 25px;
}

.hamburger-inner::after {
	bottom: -8px;
	width: 25px;
}

.nav-open .hamburger-inner {
	transform: rotate(225deg);
	width: 26px;
	// transition-delay: 0.22s;
}

.nav-open .hamburger-inner::before {
	top: 0;
	opacity: 0;
	width: 26px;
}

.nav-open .hamburger-inner::after {
	bottom: 0;
	width: 26px;
	transform: rotate(-90deg);
}
