em,
cite {
	font-style: italic;
}

b,
strong {
	@include font-smoothing;
	font-weight: bold;
}

p {
	margin: 0 0 1em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border: none;
	quotes: none;
	font-weight: normal;

	& > p:last-child {
		margin-bottom: 0;
	}
}

q {
	quotes: "“" "”" "‘" "’";
}

address {
	font-style: italic;
	margin: 0 0 1.75em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: Menlo, Consolas, monaco, monospace;
	font-size: $font__size-xs;
	line-height: 1.2;
}

pre {
	background-color: $color--background-pre;
	clear: both;
	display: block;
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin-bottom: 35px;
}

code {
	@include font-size(15px);
	padding: 3px 10px;
	position: relative;
	top: -1px;
	border-radius: 3px;
	background-color: $color--background-pre;
}

abbr,
acronym {
	border-bottom: 1px dotted $color--border-abbr;
	cursor: help;
}

ins {
	background: $color--background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

strike,
del {
	text-decoration: line-through;
}
