.site-content {
	margin-top: -80px; //Subtract the header height.
}

.page .site-content.site-content--no-header {
	padding-top: 12%;

	@media (min-width: 600px) {
		padding-top: 170px;
	}
}

.hfeed {
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	padding-left: $content__padding;
	padding-right: $content__padding;

	.entry-header {
		margin-bottom: 40px;
		padding-bottom: 0;
	}
}
