.projects {
	float: left;
	overflow: hidden;
	width: 100%;
	padding: 0 4%;
}

.project {
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	transition: transform, opacity 100ms;

	@media screen and (max-width: 599px) {
		float: none;
		height: auto !important;
		margin-bottom: 4%;
		position: relative !important;
		top: auto !important;
		transform: none !important;
	}

	&:first-of-type {
		padding-left: 0 !important;
	}

	@media screen and (min-width: 600px) {
		&-sml {
			padding: 15px;

			img {
				width: 185px;
			}
		}

		&-med {
			padding: 30px;

			img {
				width: 250px;
			}
		}

		&-lrg {
			padding: 50px;

			img {
				width: 370px;
			}
		}

		&-xlg {
			padding: 60px;

			img {
				width: 500px;
			}
		}
	}
}

@media screen and (min-width: 1400) {
	.project-sml {
		padding: 20px;
	}

	.project-med {
		padding: 40px;
	}

	.project-lrg {
		padding: 70px;
	}

	.project-xlg {
		padding: 100px;
	}

	.project img {
		height: auto;
	}

	.project-sml img {
		width: 200px;
	}

	.project-med img {
		width: 300px;
	}

	.project-lrg img {
		width: 450px;
	}

	.project-xlg img {
		width: 750px;
	}
}

.project-inner {
	position: relative;

	.js--loading & {
		opacity: 0;
	}

	.js--loaded & {
		animation: slideIn 0.9s cubic-bezier(0.33, 0, 0.2, 1);
		opacity: 1;
		transform: translate(0, 0);
		will-change: transform, opacity;
	}
}

.project {
	figure {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}

	img {
		backface-visibility: hidden;
		position: relative;
	}

	.project-link {
		height: 100%;
		position: absolute;
		text-decoration: none;
		width: 100%;
		z-index: 2;
	}

	.center {
		display: inline-block;
		margin: 0;
		max-width: 90%;
		vertical-align: middle;
	}

	.overlay {
		z-index: 1;
		bottom: 0;
		display: block;
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		transition: opacity 500ms cubic-bezier(0.33, 0, 0.2, 1);
		width: 100%;

		&::before {
			content: "";
			display: inline-block;
			height: 100%;
			margin-right: -0.25em;
			vertical-align: middle;
		}
	}
}

.project figure img,
.project .overlay {
	transition: opacity 500ms cubic-bezier(0.33, 0, 0.2, 1);
}

.project-inner:hover > figure img {
	opacity: 0;
}

.project-inner:hover .overlay {
	opacity: 1;
}

.project .entry-title {
	margin: 0;
}

.project.project-sml .entry-title {
	font-size: 16px;
}

.project.project-med .entry-title {
	font-size: 22px;
}

.project.project-xlg .entry-title {
	font-size: 34px;
}

@media screen and (min-width: 600px) {
	.project.project-lrg .entry-title {
		line-height: 1.6;
	}

	.project.project-xlg .entry-title,
	.project.project-med .entry-title,
	.project.project-sml .entry-title {
		line-height: 1.5;
	}
}

#page_nav,
#infscr-loading,
#infinite-loader,
.infinite-footer,
.infinite-loader .spinner {
	display: none !important;
	opacity: 0;
	visibility: hidden;
}

.archive.tax-portfolio_category {
	#content {
		padding-top: 10vw;
		padding-bottom: 6vw;
	}
}
