.entry-content {
	.has-drop-cap {
		&:not(:focus)::first-letter {
			font-family: $font__heading;
			font-size: $font__size-xxxl;
			font-weight: 600;
			line-height: 1;
			margin: -0.065em 0.175em 0 0;
		}
	}

	p.has-background {
		@include blockMobileDisplay();
		margin-top: $content__spacer--mobile;
		margin-bottom: $content__spacer--mobile;

		@media screen and (min-width: $content__media-query) {
			margin-bottom: $content__spacer + 12px;
			margin-top: $content__spacer + 12px;
		}
	}
}
