.animsition {
	animation-delay: 100ms;
	animation-fill-mode: both;
	opacity: 0;
}

.fade-in-up-sm {
	animation-name: fade-in-up-sm;
}

@keyframes fade-in-up-sm {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-out-up-sm {
	animation-name: fade-out-up-sm;
}

@keyframes fade-out-up-sm {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-100px);
	}
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes levitate {
	0% {
		transform: translate3d(0, 0, 0);
	}

	50% {
		transform: translate3d(0, 5px, 0);
	}
}

@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translate3d(0, 500, 0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	15% {
		transform: scale(0.9);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes popIn {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	55% {
		opacity: 0;
		transform: scale(0);
	}

	75% {
		opacity: 1;
		transform: scale(1.1);
	}

	90% {
		opacity: 1;
		transform: scale(0.9);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.float {
	-webkit-animation-duration: 6s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: shapes;
	-webkit-animation-timing-function: ease-in-out;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

@keyframes shapes {
	from {
		-webkit-transform: translate(0, 0);
	}

	65% {
		-webkit-transform: translate(0, 10px);
	}

	to {
		-webkit-transform: translate(0, -0);
	}
}

.spin {
	-webkit-animation-duration: 12s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: spinning;
	-webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes spinning {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}