.comment-content {
	padding: 0;
}

.comments-title {
	text-align: center;
	margin-bottom: 30px;
}

.comment-reply-title {
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;

	.comment & {
		small {
			float: right;
		}
	}
}

.logged-in-as {
	font-style: italic;
	color: $gray;
	text-align: center;
	margin-top: -15px;
}

.comments-area {
	font-size: 17px;
	line-height: 1.7;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	padding: 0 5%;

	@media only screen and (min-width: 700px) {
		padding: 0;
	}
}

#cancel-comment-reply-link {
	font-size: 16px;
}

.no-comments {
	text-align: center;
}

.comments-area--wrapper {
	background: rgba(#000, 0.05);
	padding-top: 70px;
	padding-bottom: 45px;
	margin: 80px 0 0;

	@media only screen and (min-width: 700px) {
		margin-top: 100px;
		padding-top: 90px;
		padding-bottom: 100px;
		margin-bottom: 0;
	}
}

.comments {
	margin-bottom: 40px;
	z-index: 999;

	ol,
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}

.comment {
	margin: 0 0 30px;
	padding: 0;
	list-style-type: none;

	.comment-respond {
		margin-top: 30px;
		margin-left: 50px;
	}

	.avatar {
		border-radius: 100px;
		float: left;
		width: 38px;
		height: 38px;
		margin: 7px 14px 0 0 !important;
	}

	.reply {
		a {
			@include underline-on-hover;
			color: $gray;
			font-style: italic;

			&:hover {
				color: $gray--hover;
			}
		}
	}

	&-meta,
	&-author {
		color: rgba(0, 0, 0, 0.5);
		display: block;
		font-size: 14px;
		margin: 0 0 10px;
		color: $black;

		@media only screen and (min-width: 514px) {
			font-size: 16px;
		}

		a {
			color: rgba(0, 0, 0, 0.5);

			&:hover {
				color: $black;
			}
		}

		a {
			color: $black;
		}

		b {
			font-size: 17px;
			font-weight: normal;
			-moz-osx-font-smoothing: inherit;
			-webkit-font-smoothing: inherit;
		}
	}

	&-author {
		span,
		cite,
		a {
			display: inline-block;
			font-style: normal;
			font-weight: normal;
		}
	}

	&-notes {
		display: none;
	}

	.reply,
	&-content {
		margin-left: 50px;
	}

	&-content a {
		word-wrap: break-word;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&-body {
		clear: both;

		p {
			margin-bottom: 10px;
		}

		pre,
		code {
			background: $white;
		}
	}
}

.comment-author .says {
	display: none;
}

.comment-metadata {
	display: block;
	margin-top: -13px;
	font-style: italic;

	a {
		@include underline-on-hover;
		color: $gray;

		&:hover {
			color: $gray--hover;
		}
	}
}

.children {
	padding: 0;

	.comments & {
		margin-top: 30px;
	}
	@media only screen and (min-width: 600px) {
		.comments & {
			margin: 30px 0 0 50px;
		}
	}
}

.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
	border: 2px solid $black;
	padding: 2px;
}

.comment.depth-3,
.comment.depth-4,
.comment.depth-5,
.comment.depth-6,
.comment.depth-7 {
	p {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
}

.comment-respond {
	.comment-form-comment label {
		display: none;
	}

	input,
	textarea {
		margin-bottom: 0;
	}

	textarea {
		max-height: 200px;
	}

	p {
		margin-bottom: 25px;
	}

	@media (max-width: 699px) {
		.form-submit input {
			width: 100%;
		}
	}
}

