.widget {
	backface-visibility: hidden;
	font-size: 90%;
	line-height: 1.7;
	margin-bottom: 15%;
}

@media (min-width: 500px) {
	.widget {
		margin-bottom: 10%;
	}
}

@media (min-width: 768px) {
	.widget {
		margin-bottom: 30%;
	}
}

.widget:last-of-type {
	margin-bottom: 0;
}

.widget p {
	margin-bottom: 15px;
}

.widget ul:last-of-type {
	margin-bottom: 0;
}

.widget ul,
.widget ul li {
	display: block;
	margin: 0;
	padding: 0;
}

.widget ul li:last-child,
.widget ol li:last-child {
	margin-bottom: 0;
}

.search-submit {
	display: none;
}

.widget--profile .widget-title {
	margin-bottom: 0.6em;
}

.bean-shot:hover img,
.flickr_badge_image img:hover,
.instagram_badge_image img:hover,
.bean500px_badge_image img:hover,
.widget_bean_portfolio img:hover {
	opacity: 0.2;
}

.bean500px_badge_image a:hover {
	opacity: 1 !important;
}

.bean-shot img,
.flickr_badge_image img,
.bean500px_badge_image a,
.instagram_badge_image a,
.bean500px_badge_image img,
.instagram_badge_image img,
.widget_bean_portfolio ul li img,
.widget_bean_portfolio ul li a {
	backface-visibility: hidden;
	transition: all 0.15s !important;
}

/* Cats */
.widget_recent_comments ul li {
	margin-bottom: 10px;
}

.widget_rss ul li {
	margin-bottom: 25px;
}

.rss-date {
	display: block;
	text-transform: uppercase;
}

.post-date {
	color: #666;
	display: block;
}

/* Calendar */
#wp-calendar {
	width: 100%;
}

#wp-calendar caption {
	color: #888;
	font-size: 11px;
	margin-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
}

#wp-calendar thead {
	font-size: 10px;
}

#wp-calendar thead th {
	font-size: 12px;
	font-weight: 500;
}

#wp-calendar thead th,
#wp-calendar tbody td {
	background: #f5f5f5;
	border: none;
	padding: 4px 0;
	text-align: center;
}

#wp-calendar thead th {
	background-color: #e9e9e9;
}

#wp-calendar tbody .pad {
	background: none;
}

#wp-calendar tfoot #next {
	font-size: 12px;
	text-align: right;
	text-transform: uppercase;
}

#wp-calendar tfoot #prev {
	font-size: 12px;
	padding-top: 10px;
	text-transform: uppercase;
}

.widget_nav_menu .sub-menu {
	margin-left: 20px;
}

/*  Tags */
.tagcloud {
	margin-top: 1.5em;
}

.tagcloud > a {
	background: rgba(0, 0, 0, 0.05);
	border-radius: 2px;
	box-shadow: 0 0 0;
	color: $black !important;
	display: inline-block;
	line-height: 22px;
	margin: 0 -2px 5px 0;
	padding: 4px 10px;
}

.tagcloud > a:hover {
	background: rgba(0, 0, 0, 0.1);
	color: $black !important;
}

/*  Search */
.widget .search-submit {
	display: none;
}

/*  Dribbble */
.bean-dribbble-shots {
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 100%;
}

.bean-shot {
	float: left;
	height: 100%;
	margin: 0 0 10px;
	width: 100%;
}

.bean-shot,
.bean-shot img {
	border-radius: 2px;
}

.bean-shot a {
	border: none;
	padding: 0;
}

.bean-shot a img {
	backface-visibility: hidden !important;
}

/*  Flickr */
.flickr-image-wrapper {
	margin: 6% auto -3.6%;
	max-width: 320px;
	width: 103.8961%;
}

@media (min-width: 768px) {
	.flickr-image-wrapper {
		float: left;
		margin: 5% -1.8072% -3.6% -2%;
		max-width: none;
		width: 103.8961%;
	}
}

.flickr-image-wrapper a {
	border: none;
	border-radius: 4px;
	padding: 0;
}

.flickr_badge_image {
	border-radius: 4px;
	float: left;
	height: 16.8831%;
	margin: 0 1.8% 3.6%;
	width: 21.4%;
}

.flickr_badge_image img {
	border-radius: 4px;
	width: 100%;
}

/* Instagram & 500PX */
.instagram-image-wrapper,
.beaninstagram-image-wrapper,
.widget_bean_500px .bean500px-image-wrapper {
	float: left;
	margin: 5% -1.8072% -3.6% -1.8072%;
	width: 103.8961%;
}

@media (min-width: 768px) {
	.instagram-image-wrapper,
	.beaninstagram-image-wrapper,
	.widget_bean_500px .bean500px-image-wrapper {
		float: left;
		margin: 5% -1.8072% -3.6% -2%;
		max-width: none;
		width: 103.8961%;
	}
}

.instagram_badge_image,
.bean500px_badge_image {
	background: none !important;
	border-radius: 4px !important;
	float: left;
	height: 16.8831%;
	margin: 0 1.8% 3.6% !important;
	overflow: hidden;
	width: 21.4% !important;
}

.instagram_badge_image img,
.bean500px_badge_image img {
	border-radius: 4px !important;
	height: 100% !important;
	height: auto !important;
	width: 100% !important;
	width: auto !important;
}

.bean500px_badge_image a,
.instagram_badge_image a {
	border: none;
	padding: 0;
}

.instagram_badge_image a:hover {
	opacity: 1 !important;
}

/*  Twitter */
.widget_bean_tweets a.twitter-time-stamp {
	border-bottom: none !important;
	box-shadow: 0 0 0;
	color: rgba(0, 0, 0, 0.44) !important;
	display: block;
	font-size: 13px;
	margin: 5px 0 15px;
}

.widget_bean_tweets a.button.follow-link,
.widget_bean_tweets a.button.follow-link:hover {
	color: $white !important;
	text-decoration: none;
}

.widget_bean_tweets .button.follow-link:hover {
	color: #151515 !important;
}

/* Profile Widget */
.widget--profile .profile--avatar {
	border-radius: 100%;
	margin: auto;
	margin-bottom: 20px;
	max-width: 110px;
}

.widget--profile .profile--avatar-wrapper {
	border-radius: 100%;
	line-height: 0;
	overflow: hidden;
	padding-bottom: 100%;
	position: relative;
	text-align: center;
}

.widget--profile .profile--avatar-wrapper img {
	border-radius: 100%;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* Bean Social Widget */
.bean_social_icons {
	margin-top: 20px;
	text-align: center;
}

.bean_social_icons .bean_social_icon {
	margin: 0 6px 6px 0 !important;
}

.bean_social_icons li a {
	border: none;
	box-shadow: 0 0 0;
	padding: 0;
}

/* Clients widget */
.widget.widget--clients {
	margin-left: auto;
	margin-right: auto;
	max-width: 100vw !important;
}

.widget .section-testimonials {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	list-style: none;
	margin: auto;
	padding: 0;
	text-align: center;
	width: 75%;
}

@media (min-width: 1450px) {
	.widget .section-testimonials {
		width: 65%;
	}
}

@media (min-width: 2000px) {
	.widget .section-testimonials {
		width: 45%;
	}
}

.widget ul .testimonial {
	display: inline-block;
	margin: 20px 0;
	max-width: 200px;
}

@media (min-width: 768px) {
	.widget ul .testimonial {
		margin: 2.5% 3.5%;
	}
}

@media (min-width: 1024px) {
	.widget ul .testimonial {
		margin: 2.5% 1.5%;
	}
}

.widget ul .testimonial img {
	width: 65%;
}

.sidebar--section .widget-title {
	text-align: center;
}

.widget--portfolio-menu,
.widget--profile {
	text-align: center;
}
