select,
textarea,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	@include font-smoothing;
	appearance: none;
	background-color: $white;
	border: 1px solid $color--border-input;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
	border-radius: 3px;
	color: $color--text-input;
	display: inline-block;
	font-size: 15px;
	font-weight: normal;
	line-height: 40px;
	margin: 0 0 25px 0;
	padding: 0 0.95em;
	position: relative;
	transition: border-color 150ms cubic-bezier(0.645, 0.045, 0.355, 1), color 150ms cubic-bezier(0.645, 0.045, 0.355, 1),
		box-shadow 300ms cubic-bezier(0.68, -0.2, 0.115, 1.1);
	vertical-align: middle;
	width: 100%;

	&:hover {
		border-color: $color--border-input-hover;
		outline: none;
	}

	&:focus {
		background-color: $color--background-input-focus;
		border-color: $color--border-input-focus;
		box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
		color: $color--text-input-focus;
		outline: 0;
		z-index: 2;
	}

	.wpcf7-form & {
		margin-bottom: 0;
	}
}

textarea {
	padding: 0.5em 0.95em;
}

label {
	display: block;
}

body .js--focus .input-control::before {
	background: $color--border-input-focus;
}

body .js--focus .input-control::after {
	border-color: $color--border-input-focus;
}

::-webkit-input-placeholder {
	color: $color--text-input-placeholder;

	.js--focus & {
		color: $color--text-input-placeholder;
	}
}

:-moz-placeholder {
	color: $color--text-input-placeholder;

	.js--focus & {
		color: $color--text-input-placeholder;
	}
}

::-moz-placeholder {
	color: $color--text-input-placeholder;
	opacity: 1;

	.js--focus & {
		color: $color--text-input-placeholder;
	}
}

:-ms-input-placeholder {
	color: $color--text-input-placeholder;

	.js--focus & {
		color: $color--text-input-placeholder;
	}
}

.input-control {
	height: 40px;
	position: absolute;
	right: 2px;
	top: 2px;

	&::after,
	&::before {
		transition: border-color 150ms cubic-bezier(0.645, 0.045, 0.355, 1), background 150ms cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	&::before {
		background: $color--border-input;
		content: "";
		height: 2px;
		position: absolute;
		right: 15px;
		top: 18px;
		width: 24px;
		z-index: 99;

		.js--hover & {
			background: $color--border-input-hover;
		}
	}

	&::after {
		border-bottom: 2px solid $color--border-input;
		border-right: 2px solid $color--border-input;
		content: " ";
		display: block;
		height: 12px;
		position: absolute;
		right: 16px;
		top: 13px;
		transform: rotate(-45deg);
		width: 12px;
		z-index: 99;

		.js--hover & {
			border-color: $color--border-input-hover;
		}
	}

	button,
	input[type="submit"] {
		background-color: transparent;
		border: 0;
		box-shadow: none;
		height: inherit;
		padding: 0;
		text-indent: -9999em;
		width: 40px;
		z-index: 999;

		&:hover,
		&:focus {
			background-color: transparent;
		}
	}
}

@import "modules/mc4wp";
